* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: #fff;
    --font-secondary: #333;
    --font-tertiary: #0575e6;

    --bg-primary: #0575e6;
    --bg-secondary: #fff;
    --bg-tertiary: #0553A3;
}

body, html {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
   
